
h1 {
    color: #009ba0;
    font-family: 'Noto Sans';
    font-variant-caps: all-small-caps;
    font-size: 46px;
}

h3 {
  color: white;
  font-size: 36px;
}

li {
  color:purple;
  font-size: 20px;
}

body {
  font-family: 'Noto Sans';
  font-size: medium;
}
a {
  color: p#009ba0;
  font-size: 15px;

}