{% extends 'base.html' %}


{% block head %}
<title>OJS-Konverter (Excel to XML)</title>
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}
<img src="/static/tatupk.jpg" alt="Tatup">
<h1>OJS-Konverter (.xlsx to .xml)</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
  
</form>
</br>

Fehlerseite

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
     <ul class=flashes>
    {% for category in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<a href="/static/OJS_Import_19-3.xlsx">Download: Vorlage.xlsx</a> <br><br>
<a href="/static/OJS_Import_Vorlage_Archiv.xlsx">Download: Vorlage.xlsx (Archiv)</a>

{% endblock %}