{% extends 'base.html' %}


{% block head %}
<title>OJS-Converter (Excel to XML)</title>
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}
<img src="/static/tatupk.jpg" alt="Tatup">
<h1>OJS-Konverter (.xlsx to .xml)</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
  
</form>

</br>





{% with messages = get_flashed_messages() %}
  {% if messages %}
  {% if messages[1]!='Import kaputt' %}
  <div class="container" align="left">
    
   <a href="{{url_for('download',XMLfilename=messages[0])}}" target="blank"><button class='btn btn-default'>Download XML!</button></a>
   
  </div>
  {% endif %}
  {% for m in messages %}

     <ul class=flashes>
    
    <li>{{ m }}</li>
    
    </ul>
    {% endfor %}
  {% endif %}
{% endwith %}

<a href="/static/OJS_Import_Vorlage.xlsx"><button class='btn btn-default'>Download Template </button></a> <br>(Template for <a href="https://www.tatup.de" target="blank">www.tatup.de</a>)
<br><br><br><br>

<p>Instructions: Download template. Insert new data. Convert (Browse - Upload). Download the XML and import it into OJS using the "Native XML Plugin".</p>

Contact:  <a href="https://www.itas.kit.edu/english/staff_rossmann_maximilian.php">Max Roßmann</a>

{% endblock %}
